:root {
  --body-background-color: #111111;
  --body-text-color: #f0ffff;
  --card-background-color: #222222;
  --nav-background-color: transparent;
  --nav-border-bottom-color: #111111;
  --tag-up-background-color: #338822;
  --tag-down-background-color: #bb3322;
  --up-border-left-color: #333333;
  --down-border-left-color: #333333;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  font-weight: bold !important;
}

h3 {
  font-size: 16px !important;
}

body {
  background: linear-gradient(180deg, rgba(17, 17, 17, 0.6) 0%, rgba(17, 17, 17, 0.9) 30%, rgba(17, 17, 17, 1) 100%), url("https://status.prism-pipeline.com/page-back.jpg") !important;
  background-size: cover, cover !important;
  min-height: 100vh;
}

nav {
  border: none !important;
}

.logo img {
  height: 80px !important;
  margin-left: -18px !important;
}

article.up,
article.down {
  border: 1px #333333 solid !important;
}

.tag.up,
.tag.closed,
.tag.down {
  font-size: 16px;
}

.tag.up,
.tag.closed {
  background: #338822 !important;
}

.tag.down {
  background: #bb3322 !important;
}

footer {
  color: #bbbbbb;
  font-size: 15px;
  margin-top: 60px;
}